.btn-save-entity {
    float: right;
    margin-top: 40px;
    min-width: 130px;
}

.valid-entity-field {
    border-color: #28a745;
}

.invalid-entity-field {
    border-color: #dc3545;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}