{% extends 'base.html.twig' %}

{% block cardTitle %}{% trans %}page.title.add.materials{% endtrans %}{% endblock %}
{% block cardSubtitle %}{% trans %}page.subtitle.add.materials{% endtrans %}{% endblock %}

{% block body %}

    <div class="col-md-8 col-sm-12">
        <h3>{% trans %}label.material.fields{% endtrans%}</h3>
        <form action="#">
            <div class="form-row">
                <div class="col-6">
                    <label for="material_name">{% trans %}label.material.name{% endtrans%}</label>
                    <input class="form-control" type="text" id="material_name" name="name" placeholder="{% trans %}label.material.name{% endtrans%}">
                </div>
                <div class="col-6">
                    <label for="material_price">{% trans %}label.material.price{% endtrans%}</label>
                    <input class="form-control" type="number" id="material_price" name="price" placeholder="{% trans %}label.material.price{% endtrans%}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="material_description">{% trans %}label.material.description{% endtrans%}</label>
                    <textarea class="form-control" rows="3" id="material_description" name="description" placeholder="{% trans %}label.material.description{% endtrans%}"></textarea>
                </div>
            </div>
            <button class="btn btn-primary btn-save-entity" id="save_material_btn" type="button">{% trans %}label.save{% endtrans%}</button>
        </form>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="alert alert-info">
            <h3>{% trans %}label.instruction{% endtrans%}</h3>
            <p>{% trans %}instruction.label.add{% endtrans%}</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        /** fields */
        let nameField = $('#material_name');
        let priceField = $('#material_price');
        let descriptionField = $('#material_description');

        let saveMaterialBtn = $('#save_material_btn');
        let material = {
            id: null,
            name: null,
            price: null,
            description: null
        };

        saveMaterialBtn.on('click', function () {
            if (isMaterialValid()) {
                sendAjaxRequest('{{ path('api_material_save') }}', material, 'POST', saveMaterialSuccessFunction, this);
            }
        });

        function isMaterialValid() {
            let isValid = true;
            material.name = nameField.val();
            material.price = priceField.val();
            material.description = descriptionField.val();
            if (!material.name) {
                fieldInvalid(nameField);
                isValid = false;
            } else {
                fieldValid(nameField)
            }

            if (!material.price || isNaN(parseFloat(material.price))) {
                fieldInvalid(priceField);
                isValid = false;
            } else {
                material.price = parseFloat(material.price);
                fieldValid(priceField)

            }

            return isValid;
        }

        function saveMaterialSuccessFunction(ctx, data, responseCode) {
            if (responseCode === 200) {
                toastr.success('Material saved. Refreshing page...');
                location.href = '/material/edit/' + data.id;
            }
        }
    </script>
{% endblock %}

{#{% block stylesheets %}#}
    {#<link rel="stylesheet" href="{{ asset('build/all_vehicle.css') }}">#}
{#{% endblock %}#}