{% extends 'base.html.twig' %}

{% block body %}
    <h1>All Vehicle</h1>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/all_vehicle.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/all_vehicle.css') }}">
{% endblock %}