<nav class="navbar navbar-expand-lg " color-on-scroll="500" style="height: 61px;">
    <div class=" container-fluid  ">
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nc-icon nc-zoom-split"></i>
                        <span class="d-lg-block">&nbsp;Search</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
