<ul>
    <li><a href="{{ path('all_vehicles') }}">{% trans %}vehicle.all{% endtrans %}</a></li>
    <li><a href="{{ path('all_construction_sites') }}">{% trans %}construction.sites.all{% endtrans %}</a></li>
</ul>