{% extends 'base.html.twig' %}

{% block body %}
    <h1>All construction sites</h1>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/all_construction_sites.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/all_construction_sites.css') }}">
{% endblock %}