{% extends 'base.html.twig' %}


{% block cardTitle %}{% trans %}page.title.all.construction.sites{% endtrans%}{% endblock %}
{% block cardSubtitle %}{% trans %}page.title.all.construction.sites{% endtrans%}{% endblock %}

{% block body %}
    <p>All construction sites</p>
{% endblock %}

{#{% block javascripts %}#}
    {#<script src="{{ asset('build/all_construction_sites.js') }}"></script>#}
{#{% endblock %}#}

{#{% block stylesheets %}#}
    {#<link rel="stylesheet" href="{{ asset('build/all_construction_sites.css') }}">#}
{#{% endblock %}#}